
        body{
            background-color:antiquewhite;
        } 
 p.light {
  font-weight: lighter;
  color: saddlebrown;
}

p.thick {
  font-weight: bold;
   
}

p.thicker {
  font-weight: 900;
   color: #663300;

}
        h2{
            color: darkseagreen;
        }
    h3{
            color:cadetblue;
        }
